body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #161617;
}

nav {
  background-color: #161617;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-name .yellow {
  color: #f9d03f;
}
.nav-name {
  font-size: xx-large;
}

.skills-button {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.skills-button:hover {
  background-color: #f9d03f;
  color: #333;
}

.container {
  padding: 40px;
  text-align: center;
}

.skills-title,
.languages-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #f9d03f;
}

.skill-box,
.language-box {
  background-color: #232020;
  color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
  transition: transform 0.3s;
}
h3 {
  color: #f9d03f;
}

.skill-box:hover,
.language-box:hover {
  transform: translateY(-5px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills-content,
.languages-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-box:nth-child(1) {
  animation-delay: 0.2s;
}
.skill-box:nth-child(2) {
  animation-delay: 0.4s;
}
.skill-box:nth-child(3) {
  animation-delay: 0.6s;
}
.language-box:nth-child(1) {
  animation-delay: 0.2s;
}
.language-box:nth-child(2) {
  animation-delay: 0.4s;
}
.language-box:nth-child(3) {
  animation-delay: 0.6s;
}
.language-box:nth-child(4) {
  animation-delay: 0.8s;
}
.language-box:nth-child(5) {
  animation-delay: 1s;
}
